.nav-right .active{
    background-color: orange;
}
.delete img:hover{
    background-color: orange;
}

.diolog dialog{
    margin-left: 30%;
    margin-top: 5%;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.diolog h1{
    border-bottom: 1px solid black;
    /* margin-left: 100%; */
    text-align: center;
}
.diolog{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
}
dialog input{
    width: 100%;
}
.diolog input{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px;
    /* width: 100%; */
}
.diolog .btn{
    display: flex;
    align-self: flex-end;
    margin-bottom: 5%;
    margin-top: 2%;
    margin-right: 2%;
    
}
.diolog .btn button{
    padding: 10px;
    border-radius: 10px;
    background-color: orange;

}
.diolog .btn #right{
    margin-right: 10%;
}
select{
    width: 100%;
    padding: 10px;
}






/* #=======================NEw style */
.scrolling-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.card {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(125, 68, 68);
    margin-top: 2%;
    width: 80%;
    border-radius: 10px;
}
.card img{
    width: 10%;
}
.img img{
    width: 2%;
}
.delete img{
    width: 5%;
}


#add_product{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    cursor: pointer;
    /* background-color: #fff; */
}
#add_product h3{
    margin-left: 5%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
    border-radius: 10px;
}



/* table {========== */
table{
    word-wrap: break-word;
    border-collapse:collapse ;
    margin-left: 8%;
    margin-right: 15%;
    margin-bottom: 5%;
    /* width: 50%; */
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
    

tr{
    width: 50%;
}
th,td{
    border: 1px solid black;
    padding: 10px 80px 10px 80px;
    /* border: none; */
    
}
.image img{
    width: 70%;
}
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: none; */
    padding-bottom: 12.5%;
    /* margin-left: 100%; */
}
.action img{
    border-bottom: 1 solid black;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    /* background-color: #fff; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 15%;
    margin-right: 30%;
}
.action img:hover{
    cursor: pointer;
    background-color: orange;
}
/* .star_icon{

    display: flex;
    flex-direction: row;
} */
.star_icon i{
    font-size: 11px;
}

/* // ========dialog delete======== */
.dialog-delete{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;

}
.dialog-delete dialog{
    margin-left: 40%;
    padding: 10px;
    line-height: 3rem;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 10px;

}
.dialog-delete .button button{
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.dialog-delete .button .no:hover{
    background-color: rgb(15, 136, 216);
    color: white;
}
.dialog-delete .button .yes:hover{
    background-color: red;
    color: white;
}