:root{
    --gray:#D9D9D9;
}
/* body{
    height: 100vh;
} */
.footer {
    margin-top: 10%;
    background-color: var(--gray);
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    padding: 20px 0 20px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.footer img{
    width: 5%;
    
}
.footer h3{
    text-align: center;
}
.footer p{
    margin-left: 5%;
}
.footer-top {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
}
.footer-top-left{
    margin-left: 6%;
}
.footer-top-center{
    margin-left: 10%;
}
.footer-top-center p{
    margin-right: 50%;
}
.footer-top-center h3
{
    margin-left: -30%;
}
#home{
    margin-left: 20%;
}
.footer-top-right{
    margin-right: 5%;
}
/* .footer-top-center img{
    margin-left: 110%;
    margin-top: 10%;
} */
/* .footer-top img,
.footer-top p {
    margin-top: 2%;
} */
.footer-top .logo{
    display: flex;
}
#p{
    margin-right: 50%;
}
/* .footer-top-right img{
    width: 7%;
} */
.footer-bottom{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top: 1%;
}
.footer-bottom img{
    width: 2%;
    background-color: #fff;
    margin-left: 0.5%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
