nav .nav-right img{
    width: 8%;
    cursor: pointer;
}
nav .nav-right{
    margin-right: -25%;
}

nav .nav-right .shoping span{
    background-color: #fff;
    padding: 5px 8px 6px 8px;
    border-radius: 80px;
    margin-top: -50px;
    
    
}

.nav-right .active{
    background-color: orange;
}
.header{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/homepage.png);
    background-size: cover;
    color: white;
}
.header h1{
    font-size: 50px;
    margin-top: 10%;
}
.input{
    margin-top: 5%;
    width: 100%;
    display: flex;
}
.input #menu {
    padding-left: 5px;
    padding-right: 5px;
}
.input button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    padding: 10px;
    color: gray;
    width: 40%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/* .scrolling-wrapper,
.scrolling
{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 5%;
    margin-right: 5%;
  
} */
.scrolling{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    /* margin-bottom: 5%; */
}
.title h1{
    /* text-align: center; */
    background-color: #D9D9D9;
    /* padding: 10px 50px 10px 50px; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card1{
    margin: 2%;
    width: 20%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* height: 70vh; */
}
.card1 .img{
    /* width: 100%; */
    display: flex;
    flex-direction: row-reverse;
    margin-left: 10%;
    margin-top: 10%;
    
}
.card1 .img img{

    border-radius: 5px;
    /* padding: px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.card1:hover{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.card1 h3{
    margin-top: 20%;
}
.card1 h3,
.card1 p,
.card1 .icon{
    text-align: center;
    
}
.card1 p{
    color: rgb(25, 222, 25);
}
.card1 i,
.card i{
    color: gold;
}
.card1 #img{
    margin-top: 10%;
}
.card1 img{
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
}

.card1 .img img{
    width: 10%;
}



.main{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    background-color: #D9D9D9;
    height: 50vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.main-left img{
    margin-top: -51%;
}
.main-center{
    margin-top: 5%;
}
.main-center h1{
    text-align: center;
}
.main-center p{
    text-align: center;
    margin-top: 5%;
}
.main-right{

    margin-right: 10%;
}
.main-right img{
    width: 300px;
    margin-top: -15%;
}

#card img{
    margin-top: -10%;
}
#scrolling-wrapper{
    margin-bottom: 10%;
}
.card:hover{
    cursor: pointer;
}
.card img{
    /* width: 50%; */
    margin-left: 20%;
}
.card.active{
    right: 0;
}
.card .img{
    display: flex;
    flex-direction: column;
    margin-top: -85%;
    /* margin-left: -45%; */
}
#view img{
    margin: 1%;
    margin-left: 90%;
    width: 15%;
}
#view img{
    margin-left: 200px;
}
#view img:hover{
    background-color: orange;
    cursor: pointer;
}
.card .img img{
    width: 12%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
    margin-top: 3%;
    padding: 10PX;
}

/* style cart============= */
.cart{
    /* width: 100%; */
    position: fixed;
    width: 25%;
    margin-left: 75%;
    margin-right: 1%;
    align-items: flex-end;
    background-color: #D9D9D9;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 100vh;
    padding: 10px;
    top: 0;
    transition: 0.3s;
    Overflow-x:scroll;
}
.cart #close{
    text-align: end;
    margin-left: 93%;
    background-color: #fff;
    border-radius: 5px;
    /* margin-top: -60%; */
}
.cart #close:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}
.cart h1{
    margin-top: 10%;
    text-align: center;
    font-family: sans-serif;
}
.cart p{
    border-top:1px solid black;
    text-align: end;
}
.cart img{
 width: 60px;
 height: 60px;
}
.display_cart{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
    
}
#display_cart{
    display: flex;
    flex-direction: column;
}
.display_cart h3{
    font-size: 15px;
}
.display_cart .text{
    margin-left: 10%;
}
.text button{
    padding: 5px 15px 5px 15px;
    font-size: 10px;
    color: red;
    
}
.display_cart #loop img{
    width: 27px;
    height: 27px;
    margin-top: -40%;
    margin-left: 60%;
    margin-top: 50%;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
}
.display_cart #loop img:hover{
    background-color: red;
}
.cart #btn {
    margin-left: 40%;
    text-align: center;
    padding: 10px 20px 10px 20px;
    background-color: orange;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}
.cart #btn:hover{
    background-color: rgb(13, 161, 230);
    color: white;
}
.total{
    color: red;
}
#total{
    background-color: #fff;
    padding: 10px;
    width: 40%;
    margin-left: 60%;
    text-align: start;
}


